* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  color: white;
}

body {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

#wrapper {
  margin: 25px 2%;
  display: grid;
  gap: 40px;
  grid-template-rows: auto;
}

.beGone {
  position: fixed;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }

  #wrapper {
    gap: 20px;
  }
}
.fas {
  font-size: 2rem;
  margin: auto;
}

.fa-angle-double-up {
  color: green;
}

.fa-angle-double-down {
  color: red;
}

.btn {
  background-color: #bebcbc;
  padding: 10px;
  border-radius: 5px;
  opacity: 100%;
}

.btn.minorFocus {
  opacity: 50%;
}

#navTop {
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  align-items: center;
  background-color: white;
}
#navTop a {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
#navTop a:hover {
  color: white;
  background-color: grey;
}

h1 {
  justify-self: center;
  font-size: 3rem;
}

#SpawnStopWatchBox {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  columns: 5px;
  row-gap: 28px;
}
#SpawnStopWatchBox #SpawnLableField {
  display: grid;
  grid-template-columns: auto 1fr;
}
#SpawnStopWatchBox #SpawnLableField p {
  margin-right: 10px;
  font-size: 2rem;
  font-weight: bold;
}
#SpawnStopWatchBox #SpawnLableField input {
  border-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-color: #030303;
  width: 40ch;
  height: 20px;
  font-size: 18px;
  align-self: center;
}
#SpawnStopWatchBox #SpawnManage-btnS {
  display: grid;
  grid-template: "spawnBtn countDirectionBtn inputTimeCont . trashAllBtn" auto/auto auto auto 1fr auto;
  column-gap: 10px;
}
#SpawnStopWatchBox #SpawnManage-btnS #spawn-btn {
  grid-area: spawnBtn;
}
#SpawnStopWatchBox #SpawnManage-btnS #check-count-direction {
  grid-area: countDirectionBtn;
  align-self: center;
  width: max-content;
  background-color: #bebcbc;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-weight: bold;
  height: 65%;
  padding: 5px;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input {
  grid-area: inputTimeCont;
  background-color: #bebcbc;
  display: grid;
  grid-template: "startTime hours minutes seconds" auto "startTime inputHours inputMinutes inputSeconds" auto/auto;
  align-items: center;
  justify-items: center;
  column-gap: 20px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input p {
  font-weight: bold;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input input {
  width: 12ch;
  border-radius: 5px;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #lable-start {
  grid-area: startTime;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #lable-seconds {
  grid-area: seconds;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #lable-minutes {
  grid-area: minutes;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #lable-hours {
  grid-area: hours;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #input-seconds {
  grid-area: inputSeconds;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #input-minutes {
  grid-area: inputMinutes;
}
#SpawnStopWatchBox #SpawnManage-btnS #cont-time-input #input-hours {
  grid-area: inputHours;
}
#SpawnStopWatchBox #SpawnManage-btnS #TrashAllButtons {
  grid-area: trashAllBtn;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
#SpawnStopWatchBox #SpawnManage-btnS #TrashAllButtons .trash-can {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#SpawnStopWatchBox #SpawnManage-btnS #TrashAllButtons .btn.list {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#SpawnStopWatchBox #SpawnManage-btnS #TrashAllButtons .arrow-trash {
  border-radius: 0;
}

.error-bar-start-time {
  background-color: #af1c1c;
  border-radius: 10px;
  padding: 10px;
}
.error-bar-start-time p {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.separation-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #bebcbc;
}

#stop-watch-list {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 10px;
}
#stop-watch-list .stop-watch {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr;
  columns: 5px;
  row-gap: 15px;
}
#stop-watch-list .stop-watch .stop-watch-row-label {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}
#stop-watch-list .stop-watch .stop-watch-row-label p {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}
#stop-watch-list .stop-watch .stop-watch-row-label .trash-btn {
  align-self: center;
}
#stop-watch-list .stop-watch .stop-watch-row-timer {
  display: grid;
  grid-template: "playBtn pauseBtn resetBtn . counterArrow textTimer ." auto/auto auto auto 1fr auto auto 1fr;
  gap: 10px;
  align-items: center;
}
#stop-watch-list .stop-watch .stop-watch-row-timer .text-timer {
  justify-self: right;
  font-size: 2rem;
  font-weight: bold;
  font-size: 4rem;
}
#stop-watch-list .stop-watch .stop-watch-row-timer .play-btn {
  grid-area: playBtn;
}
#stop-watch-list .stop-watch .stop-watch-row-timer .pause-btn {
  grid-area: pauseBtn;
}
#stop-watch-list .stop-watch .stop-watch-row-timer .reset-btn {
  grid-area: resetBtn;
}
#stop-watch-list .stop-watch .stop-watch-row-timer .counter-arrow {
  grid-area: counterArrow;
  font-size: 3rem;
}
#stop-watch-list .stop-watch .stop-watch-row-timer .text-timer {
  grid-area: textTimer;
}

@media screen and (max-width: 850px) {
  #navTop {
    justify-self: center;
  }
  #navTop a {
    padding-left: 6.6666666667px;
    padding-right: 6.6666666667px;
  }

  #SpawnStopWatchBox #SpawnLableField {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  #SpawnStopWatchBox #SpawnManage-btnS {
    display: grid;
    grid-template: "spawnBtn countDirectionBtn . trashAllBtn" auto "inputTimeCont inputTimeCont inputTimeCont inputTimeCont" auto/auto auto 1fr auto;
    row-gap: 15px;
  }
  #SpawnStopWatchBox #SpawnManage-btnS #cont-time-input {
    column-gap: 5px;
  }
  #SpawnStopWatchBox #SpawnManage-btnS #TrashAllButtons i {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 550px) {
  #SpawnStopWatchBox #SpawnLableField p {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  #SpawnStopWatchBox #SpawnLableField input {
    width: 30ch;
  }
  #SpawnStopWatchBox #SpawnManage-btnS {
    display: grid;
    grid-template: "spawnBtn countDirectionBtn trashAllBtn" auto "inputTimeCont inputTimeCont inputTimeCont" auto/auto auto auto;
    row-gap: 15px;
  }
  #SpawnStopWatchBox #SpawnManage-btnS #cont-time-input {
    grid-template: ". startTime ." auto "seconds minutes hours" auto "inputSeconds inputMinutes inputHours" auto/auto auto auto;
    row-gap: 5px;
  }

  #stop-watch-list .stop-watch .stop-watch-row-timer {
    display: grid;
    grid-template: "  playBtn pauseBtn  . " auto "resetBtn  counterArrow textTimer " auto/auto auto auto auto 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
