@use "variables" as *;
@use "mixin" as *;


* {
    margin: 0px;;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: $standard-font-size;
    color: $standard-font-color;
}

body {
    background-color: $site-background-color;
}

a {
    color: $standard-font-color;
    text-decoration: none;
}

#wrapper {    
    margin: $wrapper-margin;

    display: grid;
    gap: $wrapper-row-gab-desktop;
    grid-template-rows: auto;
}

@media screen and (max-width: 600px) {
    html {
        font-size: $mobile-font-size;
    }

    #wrapper {
        gap: $wrapper-row-gab-mobile;
    }
}
