@use "variables" as *;

@mixin mixin-padding-sides($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin mixin-reduce-border-to-bottom-color-bottom() {
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    border-bottom-color: $border-bottom-color;
}

@mixin mixin-render-stop-watch-body($grid-gap-row-modify: 0px) {
    background-color: $sub-background-color;
    color: $sub-foreground-color;
    border-radius: $widget-border-radius;
    padding: $widget-padding;

    display: grid;
    grid-template-rows: auto 1fr;
    columns: $box-grid-column-gap;
    row-gap: $box-grid-row-gap + $grid-gap-row-modify;
}

@mixin mixin-stop-watch-font {
    font-size: $stop-watch-font-size;
    font-weight: $stop-watch-font-weight;
}