@use "variables" as *;

// Applying padding left and right
// $value is the pixel to apply
@mixin mixin-padding-sides($value) {
    padding-left: $value;
    padding-right: $value;
}

// Applying margin left and right
// $value is the pixel to apply
@mixin mixin-margin-sides($value) {
    margin-left: $value;
    margin-right: $value;
}

// Renders only one solid border at the bottom of an element
@mixin mixin-reduce-border-to-bottom() {
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    border-color: $border-bottom-color;
}

// Renders only one solid border at the top of an element
@mixin mixin-reduce-border-to-top() {
    border-style: none;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;

    border-color: $border-bottom-color;
}

// Renders a thin rounded border around a widget
@mixin mixin-give-thin-border() {
    border-radius: $btn-border-radius;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}



// Gives a stop watch and spawn box its gird config, colors, borders and padding
@mixin mixin-render-stop-watch-body($grid-gap-row-modify: 0px) {
    background-color: $sub-background-color;
    color: $sub-foreground-color;
    border-radius: $widget-border-radius;
    padding: $widget-padding;
    display: grid;
    grid-template-rows: auto 1fr;
    border-style: solid;    
    border-color: #bdb0b0;
    columns: $box-grid-column-gap;
    row-gap: $box-grid-row-gap + $grid-gap-row-modify;
}

@mixin mixin-stop-watch-box-focus() {
    box-shadow: 0 0 0 5px rgb(137, 199, 194);
    border-color: black;
}

// Gives a font of the stop watch its font size and weight
@mixin mixin-stop-watch-font {
    font-size: $stop-watch-font-size-lable;
    font-weight: $stop-watch-font-weight-lable;
}

//  For scaling the navigation bar of the page
@mixin mixin-navbar-height-scaler($height) {
    height: $height;
    line-height: $height;    
}

@mixin mixin-error-bar-rending($bc-color: $error-bar-bc-color) {
    background-color: $bc-color;
    border-radius: $widget-border-radius;
    padding: 10px;
  
    p {
        font-weight: bold;
        font-size: $error-bar-font-size;
        color: $error-bar-font-color;
        text-align: center;
    }
}