$wrapper-margin: 25px 2%;

$standard-font-size: 16px;
$primary-background-color: black;
$primary-foreground-color: white;
$standard-font-color: $primary-foreground-color;
$site-background-color: $primary-background-color;

