$wrapper-margin: 25px 2%;

$standard-font-size: 16px;
$sub-background-color: white;
$sub-foreground-color: black;
$standard-font-color: white;
$site-background-color: black;
$widget-border-radius: 10px;
$widget-padding: 10px 10px;
