@use "base" as *;
@use "variables" as *;

#navTop {
    justify-self: end;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    
    
    align-items: center;

    background-color: $sub-background-color;

    a { 
        $navTopA-height: 50px;

        height: $navTopA-height;
        line-height: $navTopA-height;
        padding: 0 10px;
        color: $sub-foreground-color
    }

    a:hover {
        color: $sub-background-color;
        background-color: grey;
    }

}

h1 {
    justify-self: center;
    font-size: 3rem;    
}

#SpawnStopWatchBox {
    background-color: $sub-background-color;
    color: $sub-foreground-color;
    border-radius: $widget-border-radius;
    padding: $widget-padding;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

#SpawnLableField {
    display: grid;
    grid-template-columns: auto 1fr;

    p {
        margin-right: 10px;

        font-weight: bold;
    }

    input {
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;

        border-bottom-color: rgb(8, 8, 8);
    }
}


